  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %> - Jenkins Wiki Converter</title>
    <meta name="description" content="Quick tool to convert your plugin docs from wiki to github markdown or asciidoc.">
    <meta name="author" content="Gavin Mogan and contributors">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <!-- Favicons -->
    <link href="https://jenkins.io/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://jenkins.io/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="https://jenkins.io/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="https://jenkins.io/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link color="#5bbad5" href="https://jenkins.io/safari-pinned-tab.svg" rel="mask-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <meta content="#2b5797" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
  </head>

